<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SheffieldWebServiceSoap" />
                <binding name="SHUWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SheffieldWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SHUWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/SheffieldWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SheffieldWebServiceSoap"
                contract="ProxyToSheffieldWebService.SheffieldWebServiceSoap"
                name="SheffieldWebServiceSoap" />
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/SheffieldWebService.asmx"
                binding="customBinding" bindingConfiguration="SheffieldWebServiceSoap12"
                contract="ProxyToSheffieldWebService.SheffieldWebServiceSoap"
                name="SheffieldWebServiceSoap12" />
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/SHUWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SHUWebServiceSoap"
                contract="ProxyToSheffieldHallamWebService.SHUWebServiceSoap"
                name="SHUWebServiceSoap" />
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/SHUWebService.asmx"
                binding="customBinding" bindingConfiguration="SHUWebServiceSoap12"
                contract="ProxyToSheffieldHallamWebService.SHUWebServiceSoap"
                name="SHUWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>