
@{
    ViewBag.Title = "Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li>@Html.ActionLink("List users", "GetUsers")</li>
    <li>@Html.ActionLink("Add role", "AddRole")</li>
    <li>@Html.ActionLink("Manager user roles", "ManagerUserRoles")</li>
</ul>