
@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>

@using (Html.BeginForm("ManageUserRoles", "Admin"))
            {
                @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <p>
        User UserName: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users)
        Role : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles)
    </p><input type="submit"value="Save" />
}
